<?php
/**
 * @author Kamil Samigullin <kamil@samigullin.info>
 *
 * @see https://github.com/symfony/symfony/blob/master/autoload.php.dist
 */
if (gc_enabled()) {
    gc_disable();
}
return require __DIR__ . '/vendor/autoload.php';
